@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap');

h2 {
  text-align: left !important;
}

hr {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.Content {
  padding-bottom: 20px !important;
}
